h1{
    padding: 50px;
    margin: 50px;
    border: solid black;
    background-color: #0470eb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex: auto;
    text-align: center;

}
p,

div{
    background-color: rgb(255, 83, 83);
    padding: 10px 5px 15px 3px;   
    margin: 20px;
    padding: 20px;
    border: 1px double black; 
}

em,
strong,
span{
    background-color: #0470eb;
}
